.back {
    background: url("../images/Group\ 150.png") no-repeat center/cover;
    background-size: 100% 100%;
}

.temp {
    margin-top: 300px;
    background: transparent;
}

.icon {
    margin-left: 14px;
    margin-top: 8px;
}

.setRange {
    width: 70%;
    position: relative;
    bottom: 8px;
}

@media screen and (max-width : 750px) {
    .back {
        background-size: 205% 100%;
    }
}

@media screen and (min-width:1105px) and (max-width:1396px) {
    .rangeSides {
        height: 28px;
        width: 40px !important;
    }

    .icon {
        margin-left: 13px;
        margin-top: 7px;
    }
}

@media screen and (min-width:992px) and (max-width:1104px) {
    .rangeSides {
        height: 22px;
        width: 22px;
    }

    .icon {
        margin-left: 10px;
        margin-top: 6px;
    }
}

@media screen and (max-width:413px) {
    .rangeSides {
        height: 35px;
        width: 35px;
    }

    .icon {
        margin-left: 12px;
        margin-top: 6px;
    }
}
